# Names: Austin He, Maya Lee, Kevin Barcenas Martinez, Luis Gamino

# Pokemon

In this project we will be...

# Introduction
What is the machine learning problem you are trying to solve?
Why does the problem matter?
What could the results of your predcitive matter be used for?
Why would we want to be able to predict the thing you're trying to predict?
Describe dataset:

The pokedex.csv file consists of:

images: Path to an image of the Pokemon, in the 'images' folder

index: Each Pokemon number in the PokeDex.

Name: Name of the Pokemon.

Type 1: First type af the Pokemon.

Type 2: Second type of the Pokemon. Not all have two types. This will be null in that case.

Total: Sum of all stats.

HP: Hit points, or health. How much damage a pokemon can withstand

Attack: The base for normal attacks.

Defense: The base resistance against normal attacks.

SP. Atk.: The base for special attacks.

SP. Def.: The base resistance against special attacks.

Speed: Determines which Pokemon attacks first each round.

In [65]:
# Standard Headers
# You may add additional headers here if needed
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.preprocessing import StandardScaler
from sklearn.decomposition import PCA
from pandas import DataFrame
import numpy as np
# Pokebase is a Pokemon API that has extensive information about each pokemon
# https://pokeapi.co/docs/v2
import pokebase as pb

# Enable inline mode for matplotlib so that Jupyter displays graphs
%matplotlib inline

# print your pandas version
pd.__version__

'2.2.2'

In [85]:
data = pd.read_csv(r"C:\Users\Kevin\Downloads\Pokemon_ML\pokedex.csv", skipinitialspace=True)
display(data.head())

,Image,Index,Name,Type 1,Type 2,Total,HP,Attack,Defense,SP. Atk.,SP. Def,Speed
0,images/1.png,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45
1,images/2.png,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60
2,images/3.png,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80
3,images/4.png,3,Venusaur Mega Venusaur,Grass,Poison,625,80,100,123,122,120,80
4,images/5.png,4,Charmander,Fire,NaN,309,39,52,43,60,50,65

# Part 1: Data cleaning, data exploration, feature engineering, etc.

Merging 'Type 1' and 'Type 2' Columns into one column called 'Type'

In [88]:
data.fillna({"Type 2":""}, inplace=True)
types = data['Type 1'] + " " + data['Type 2']
#inserting merged columns into the data set
data.insert(5, "Types", types)
display(data.head())

,Image,Index,Name,Type 1,Type 2,Types,Total,HP,Attack,Defense,SP. Atk.,SP. Def,Speed
0,images/1.png,1,Bulbasaur,Grass,Poison,Grass Poison,318,45,49,49,65,65,45
1,images/2.png,2,Ivysaur,Grass,Poison,Grass Poison,405,60,62,63,80,80,60
2,images/3.png,3,Venusaur,Grass,Poison,Grass Poison,525,80,82,83,100,100,80
3,images/4.png,3,Venusaur Mega Venusaur,Grass,Poison,Grass Poison,625,80,100,123,122,120,80
4,images/5.png,4,Charmander,Fire,,Fire,309,39,52,43,60,50,65

In [90]:
# Adding weight and height in the data. This information is coming from the PokeAPI 
# Due to time consuming script to obtain the height and weight of the pokemons the
# data extraction was done locally and will be added as a csv file. 
# The script will be below

# data['Height'] = np.nan
# data['Weight'] = np.nan

# for index, row in df.iterrows():
#     pokemon_name = row['Name'].lower()
#     try:
#         current_pokemon = pb.pokemon(pokemon_name)
#         df.at[index, 'Height'] = current_pokemon.height
#         df.at[index, 'Weight'] = current_pokemon.weight
#     except Exception as e:
#         df.at[index, 'Height'] = np.nan
#         df.at[index, 'Weight'] = np.nan
# df.to_csv("pokemon_csv_with_heightweight.csv", index=False)

In [71]:
# Data Cleaning: Remove Image column and Index column

data.drop("Image", axis=1, inplace=True) # Drop image column, not necessary for models
data.drop("Index", axis=1, inplace=True) # Drop the Index column, inputting ordered information could mess up the model
data.drop("Type 1", axis=1, inplace=True)
data.drop("Type 2", axis=1, inplace=True)
data.drop("Name", axis=1, inplace=True)
# data.drop("Total", axis=1, inplace =True) Uncomment for later since its a total of all the other columns
display(data.head())
#Checking for NaNs
print("NaNs: ",data.isnull().values.any())

#Separating Labels and Features
class_labels = data['Types']
features = data.copy(deep=True)
features.drop('Types', axis=1, inplace=True) #
display(features.head())

          Types  Total  HP  Attack  Defense  SP. Atk.  SP. Def  Speed
0  Grass Poison    318  45      49       49        65       65     45
1  Grass Poison    405  60      62       63        80       80     60
2  Grass Poison    525  80      82       83       100      100     80
3  Grass Poison    625  80     100      123       122      120     80
4         Fire     309  39      52       43        60       50     65

NaNs:  False

   Total  HP  Attack  Defense  SP. Atk.  SP. Def  Speed
0    318  45      49       49        65       65     45
1    405  60      62       63        80       80     60
2    525  80      82       83       100      100     80
3    625  80     100      123       122      120     80
4    309  39      52       43        60       50     65

Feature Exploring

In [73]:
#one hot encoding??
data = pd.get_dummies(data, columns=["Types"])

Normalize data

Some evolutions should be scaled the same

In [75]:
scaler = StandardScaler()
scaled_data = scaler.fit_transform(data)
data = DataFrame(scaled_data)

# Part 2: Modeling

# Part 3: Results and analysis